    <!--include socket io for client in header.ejs-->
    <%- include('layouts/header.ejs') %>
    <div>
        <h4 class="mb-4">Hi,<%=currentUser.username%></h4>
    </div>
    <div class="row">

            <div class="col-md-3">                 <!--occupy 25% for users-->
                <ul class="list-group">
                    <% if (locals.users) { %>
                     <% users.forEach(user => { %>
                        <li class="list-group-item list-group-item-dark cursor-pointer user-list data-id=<%= user._id %>"> <!--data-id attr for recived id-->
                            <img src="images/profileDefault.jpeg"height="50px" height="50px">
                            <%= user.username %>
                            <!--dynamic id for user current status-->
                            <% if (user.isOnline == 1) { %>

                                <sup id="<%= user._id %>-status" class="online-status">online</sup>

                            <% } else { %>

                                <sup id="<%= user._id %>-status" class="offline-status">offline</sup>

                              <%  } %>
                        </li>
                     <% }) %>
                    <% } %>
                </ul>
            </div>
            
            <!--if not started chat, cursor-pointer user->clicked then show() chat section ,by default display none()-->
            <div class="col-md-8">  <!--occupy 75% for chat-->
                <h3 class="start-chat">click to start chat</h3>
                <div class="chat-section">

                    <div id="chat-container">
                            <% if (locals.chatData) { %>
                                <% chatData.forEach(chatdata => { %>
                                    <div class="current-user-chat">
                                        <h5><%= chatdata.message %></h5>
                                    </div>
                                    <%})%>
                            <% } %>
                    </div>
                            
                    <form id="chat-form-id" method="POST" action="/save-chat">
                        <input type="text" name="message" placeholder="enter message" id="messageInput" required />
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
                
            </div>
    </div>

    <script>
        // fetching the current user id and passing it to backend through namespace args
        var sender_id = "<%=currentUser._id%>"
        // onclick-user it need to fill this recevier_id means chat which will being sent to
        var receiver_id ;
        //Connect to the users namespace
        var socket = io('/user-namespace',{
            auth:{
                token : sender_id,
            }
        }) // so on backend whenever user connects, socket gives senderid through handshake{ auth : {token: id }} all are in socket obj
        
        // if offline => => from recived userdata means login => remove offline class & add online class 
        socket.on("UpdateOnlineStatus",(data)=>{
            $(`#${data.cu_id}-status`).text("online");
            $(`#${data.cu_id}-status`).removeClass("offline-status")
            $(`#${data.cu_id}-status`).addClass("online-status")
        })
        socket.on("UpdateOfflineStatus",(data)=>{
            $(`#${data.cu_id}-status`).text("offline")
            $(`#${data.cu_id}-status`).removeClass("online-status")
            $(`#${data.cu_id}-status`).addClass("offline-status")
        })


        // for chat section and cursor pointer on user events 
        $(document).ready(function(){

            var userid = $(this).attr("data-id"); //getting current attr for recevier_id
            receiver_id = userid;         

            $('.user-list').click(function(){
                $('.start-chat').hide();
                $('.chat-section').show();
            });
        })

        //save chat of users
        // $('#chat-form-id').submit(function(event){
        //     event.preventDefault();

        //     var message = $('#messageInput').val();
        //     console.log("Sending message:", message, "to receiver:", receiver_id);
        //     $.ajax({
        //         url:'/save-chat',
        //         method:'POST',
        //         data:{
        //             senderId:sender_id,
        //             recieverId:reciver_id,
        //             message:message,
        //         },
        //         success: function(response) {
        //             console.log('Response:', response);  // Add this for debugging
        //             if(response.success) {
        //                 $('#messageInput').val('');   // Clear the input field
        //                 let chat = response.chatData.message;
        //                 let html = `<div class="current-user-chat">
        //                                 <h5>${chat}</h5>
        //                             </div>`;
        //                 $('#chat-container').append(html);
        //                 console.log('Message appended:', chat);  // Add this for debugging
        //             } else {
        //                 alert(response.msg);  // Changed from chatData.msg to response.msg
        //             }
        //         }
        //     })
        // })


    </script>

    <%- include('layouts/footer.ejs') %>

